<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gorda.snapchatclone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.flash" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/snapchat_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".loginRegistration.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegistration.ChooseLoginRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegistration.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegistration.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseReceiverActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ProfileActivity"></activity>
    </application>

</manifest>